body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.header {
    
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 100px 5px 100px;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px;
}

.header-links {
    display:flex;
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
    padding: 5px;
    margin:0;
}

li {
    padding: 15px;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin-bottom: 10px;
}
.content {
    flex: 1;
    flex-direction: column;
    background-color: white;
}

.top-block {
    background-color: #1F2937;
    display: flex;
    padding: 100px 250px 100px 250px;

}

.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left-panel div {
    margin-bottom: 10px;
}
button {
    background-color: #3882f6;
    color: white;
    font-size: 14px;
    width: 85px;
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
}

.right-panel {
    background-color: grey;
    color: white;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.header-subtext {
    color: #e5e7EB;
    font-size: 18px;
    margin: 0;
}

.middle-block {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 25px;

}

.middle-block-title {
    font-size: 36px;
    font-weight: bold;
}

.cards {
    display: flex;
    padding: 20px 20px 50px 20px;
}

.card {
    margin: 20px;
    width: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square-img {
    border: 2px solid #3882f6;
    height: 125px;
    width: 125px;
    border-radius: 20px;
}

.square-subtext {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote-block {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 75px 200px 75px 200px;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 24px; 
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    margin-left: auto;
    font-size: 14px;
    font-weight: bold;
}

.final-block {
    background-color: white;
    display: flex;
    padding: 50px 150px 50px 150px;
    justify-content: center;
    align-items: center;
    

}

.call-to-action {
    background-color: #3882f6;
    display: flex;
    height: 150px;
    border-radius: 25px;
    padding-left: 100px;
    padding-right: 100px;

}


.call-to-action-left {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 150px;
    justify-content: center;
}


.call-to-action-right {
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.call-to-action-right button {
    border: 1px solid white;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 15px;
}