body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.header {
    
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 100px 5px 100px;
    margin: 0;
}

.header-logo {
    font: 24px #F9FAF8;
    font-weight: bold;
    padding: 10px;
}

.header-links {
    display:flex;
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
    padding: 5px;
    margin:0;
}

li {
    padding: 15px;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
}
.content {
    flex: 1;
    flex-direction: column;
    background-color: white;
}

.top-block {
    background-color: #1F2937;
    display: flex;
    padding: 100px 250px 100px 250px;

}

.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    flex: 1
}

button {
    background-color: #3882f6;
    color: white;
    width: 85px;
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
}

.right-panel {
    background-color: grey;
    color: white;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.header-subtext {
    color: #e5e7EB;
    font-size: 18px;
    margin: 0;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}